@charset UTF-8;
  
	div#divCima section#foto img{
		
    border: 2px solid #c3c4ce;
    box-shadow: 1px 1px 4px white;
    margin-top: 5px;
    margin-left: -304px;
    transition: all 1s ease-out;
    border-radius: 50%;
	}
  div#divCima section#foto span{
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: rgba(0,0,0,.3); 
  font-size: 20pt;
  line-height: 50px;
  padding: 5px;
  margin-left: 400px;
}
div#divCima section#foto:hover span{

  opacity: 1;
}

  div#divCima section#foto img{
    width: 900px;
    height: 335px;
   } 
     div#divCima section#foto img:hover{
      cursor: pointer;
      transform: translateY(50px);
      
   } 
	div#divCima aside{ 

		margin-top: -40px;
	}
  #layout{

    background-color: black;
  }


	div#interface div#divCima{
		
		height: 440px;
     background-image: url("lua cheia.jpg"); 
     padding-top: 20px;
		
	}
	div#divCima section#foto{

		width: auto;
		float: left;
    clear: both;
	}


    body{

        background-image:url("Untitled.png") ;

        background-color:#dddddd;
        font-family: Arial,sans-serif;
        color: rgba(0,0,0,.5);
        padding-top: 20px;
    }

    div#interface {

        width:950px;
        background-color:#ffffff;
        margin:-20px auto 10px auto;
        box-shadow: 0px 0px 10px rgba(0,0,0,.5);
        padding: 10px 10px 10px 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;

    }
       
   footer#rodape{

            border-top: 1px solid #606060;

        }
        footer#rodape{

        	clear: both;
        }
        footer#rodape p{

            text-align:center; 
        }
        footer#rodape img{

        	<!-- width: 25px; -->

        }

        table#tabela1{
        	border-spacing: 0px;
        	margin-left: auto;
        	margin-right: auto;
        	border:1px solid #606060;

        }
        div#div-tabela table#tabela1 td.ce{

        	background-color: #bfe1ff;
        
        }
        div#div-tabela table#tabela1 td.cd{

        	background-color: #bfe1ff;

        }
        div#div-tabela table#tabela1 td.cdd{

        	color:#ffffff; 
        	background-color: #606060;
        	vertical-align: center-text;
        	font-weight: bold;
        }

        table#tabela2{

        	border:1px solid #606060;
        	border-spacing: 0px;
        	margin-left: auto;
        	margin-right: auto;
        }
        table#tabela3{

        	border:1px solid #606060;
        	border-spacing: 0px;
        	margin-left: auto;
        	margin-right: auto;
        }

        table#tabela1 td{

        	border:1px solid #606060;
        	padding: 10px;
        }
            table#tabela2 td{

        	border:1px solid #606060;
        	padding: 10px;
        }
            table#tabela3 td{

        	border:1px solid #606060;
        	padding: 17px;
        }
        div#div-tabela{


        	clear: both;
        }
       
        div#div-tabelas2 section#idiomas{

		width: auto;
		float: left;
	}
	div#div-tabelas2 table#tabela2 td.cddd{

			color:#ffffff; 
        	background-color: #606060;
        	vertical-align: center-text;
        	font-weight: bold;
	}
	div#div-tabelas2 table#tabela2 td.ceee{

		
		background-color: #cecece;
	}
		div#div-tabelas2 table#tabela2 td.cee{

		
		background-color: #bfe1ff;
	}
	div#div-tabelas2 table#tabela3 td.cd{
		background-color: #cecece;
		color: #ffffff;
	}
	div#div-tabelas2 table#tabela3 td.cdddd{

		background-color: #bfe1ff;
		vertical-align: center-text;
        font-weight: bold;
        color: #ffffff;
	}
	div#div-tabelas2 table#tabela3 td.cdd{
		background-color: #606060;
		color: #ffffff;
	}

	div#div-tabelas2 aside#contatos{

		width: auto;
		float: right;

	}

	div#div-tabelas2{

		margin-bottom: 80px;
	}
	div#div-tabelas2 aside#contactos{

		margin-top: 90px;
		margin-right: -75px;
		
	}
	div#div-tabelas2 section#idiomas{

		margin-right: 0px;
		margin-top: -20px;
	}

    .progress {
  background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image:      -o-linear-gradient(top, #ebebeb 0%, #f5f5f5 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#f5f5f5));
  background-image:         linear-gradient(to bottom, #ebebeb 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
}
.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
}
.progress-striped .progress-bar,
.progress-bar-striped {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
}
.progress.active .progress-bar,
.progress-bar.active {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
ul#album{
  width: 700px;
  margin: 0 auto;
  padding: 50px; 
  overflow: hidden;
  list-style: none;
}

ul#album li {

  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  -webkit-transition:all 1s ease-in;
}

ul#album li#foto1 {
  background: url('IMG-20171010-WA0011.jpg') no-repeat;
  background-position: 50% 50%;
  background-size:400px 400px;
  background-color: #ffffff; 
}
ul#album li#foto1:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#foto2 {
  background: url('JJ e CB.jpg') no-repeat;
    background-position: 50% 50%;
  background-size:400px 400px;
  background-color: #ffffff; 
}
ul#album li#foto2:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#foto3 {
  background: url('jj e princ.jpg') no-repeat;
    background-position: 50% 50%;
  background-size:400px 400px;
  background-color: #ffffff; 
}
ul#album li#foto3:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#foto4 {
  background: url('joy-1494575_640.jpg') no-repeat;
    background-position: 50% 50%;
  background-size:400px 400px;
  background-color: #ffffff; 
}
ul#album li#foto4:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#foto5 {
  background: url('JJ.jpg') no-repeat;
    background-position: 50% 50%;
  background-size:400px 400px;
  background-color: #ffffff; 
}
ul#album li#foto5:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li#foto6 {
  background: url('nature-laptop-outside-macbook.jpg') no-repeat;
    background-position: 50% 50%;
  background-size:400px 400px;
  background-color: #ffffff; 
}
ul#album li#foto6:hover{
  background-position: 0px 0px;
  background-size: 200px 200px;
}
ul#album li span{
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background: rgba(0,0,0,.3); 
  font-size: 9pt;
  line-height: 370px;
  padding: 5px;
}
ul#album li:hover{

  -webkit-transform:scale(1.5);
}
ul#album li:hover span{

  opacity: 1;
}

@media screen and (max-width: 1000px) {
  #interface {
    background-color: black;
  }
}





    