.d-inline{
	display: inline-block;
}

.bg-verde{
	background-color: #00A0B0 !important;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 23%;
	height: 120px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.m-2{
	margin: 4px !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 300px) {
	.card {
		width: 100%;
		height: 100px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.card {
		width: 30%;
		height: 100px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.card {
		width: 40%;
		height: 100px;
	}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.card {
		width: 23%;
		height: 120px;
	}
} 