@charset UTF-8;

selectio{

  clear: both;
}

section{

  margin: 0 auto;
  width: 500px;
  height: 150px;
  
}
.rede{
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 50px;
  transition: all 1s ease-out;
  border-radius: 50%;

}
.rede:hover{
  cursor: pointer;
  transform: translateY(-20px);
}
.rede#facebook{
  background-color: #2372a3;

}
.rede#twitter{
  background-color: #0084b4;
  
}
.rede#instagram{
  background-color: #dd4b39;
  
}
.icone{
  margin: auto;
  padding: 20px;
  width: 60px;
}
#musica {

  width: 400px;
  height: 200px;
  margin: auto;
  color: white;
  margin-top: -80px;
  margin-left: 280px;
  background: url("radio.png") no-repeat;
}
audio#som {
  display: block;
  position: relative;
  left: 20px;
  top:130px;
  width: 300px;
}

/*Formatacao do Menu*/

.btn-menu{
  width: 56px;
  height: 56px;
  float: left;
  text-align: center;
  color: #fff;
  border-radius: 56px;
  cursor: pointer;
  background: linear-gradient(to right,#2372a3);
  margin-top: -80px;
  margin-left: 10%;

}
.menu {
  display: none;
  width: 16%;
  height: 45%;
  position: fixed;
  background-color: rgba(0,0,0,.9);


}
.menu ul {
  width: 100%;
  float: left;
}
.menu li{
  padding: 1.5%;
}
.menu li a {
  font-size: 2em;
  color: #fff;
  padding: 1.5% 3%;

}
.menu li a:hover {
  border:1px solid #2372a3;
}